extends layout
block content
    #page-wrapper
        .row
            .col-lg-12
                h2.page-header Dashboard

        .row
            .col-lg-3.col-md-6
                .panel.panel-primary
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-comments.fa-5x
                            .col-xs-9.text-right
                                .huge 1
                                div New Location!
                    a(href='#')
                        .panel-footer
                            span.pull-left View Details
                            span.pull-right
                                i.fa.fa-arrow-circle-right
                            .clearfix
            .col-lg-3.col-md-6
                .panel.panel-green
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-tasks.fa-5x
                            .col-xs-9.text-right
                                .huge 2
                                div New Devices!
                    a(href='#')
                        .panel-footer
                            span.pull-left View Details
                            span.pull-right
                                i.fa.fa-arrow-circle-right
                            .clearfix

            .col-lg-3.col-md-6
                .panel.panel-red
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-support.fa-5x
                            .col-xs-9.text-right
                                .huge 3
                                div Alerts!
                    a(href='#')
                        .panel-footer
                            span.pull-left View Details
                            span.pull-right
                                i.fa.fa-arrow-circle-right
                            .clearfix
