extends layout
block content
    #page-wrapper
        .row
            .col-lg-12
                h2.page-header Home

        .row
            .col-lg-8
                    .panel-heading
                        |About TUV SUD Smart Health V&V System
                    .panel-body
                        p(align='justify') TÜV SÜD PSB previously known as PSB Corporation is a service provider for a comprehensive and integrated suite of product testing, inspection, auditing, certification, training, and knowledge services. With a sterling record of over 40 years, TÜV SÜD PSB aims at helping companies achieve business excellence. As an established and internationally recognised testing body, TÜV SÜD PSB’s test reports and product certification marks are well accepted by manufacturers, third party buyers and government authorities worldwide. TÜV SÜD PSB is accredited under the Singapore Accreditation Council Singapore Laboratory Accreditation (SAC-Singlas) Scheme to ISO/IEC Guide 25 (ISO/IEC 17025) and ISO Guide 65 (ISO/IEC 17065). As a pioneer in providing management systems certification services, TÜV SÜD PSB was the first certification body in Asia to introduce ISO 9000 as a basis of quality system certification as well as ISO/TS 16949 automotive certification in the South East Asia region.

                        p(align='justify') Today, TÜV SÜD PSB is headquartered in Singapore with operations in Thailand, Indonesia, Malaysia, Philippines and Vietnam. It is a wholly owned subsidiary of TÜV SÜD.

                        p(align='justify') TÜV SÜD is a premium quality, safety, and sustainability solutions provider that specialises in testing, inspection, auditing, certification, training, and knowledge services. Represented by more than 24,000 employees across 1000 locations worldwide, TÜV SÜD holds accreditations in Europe, the Americas, the Middle East, Asia and Africa. By combining impartial expertise with invaluable insights, the company adds tangible value to businesses, consumers and the environment. The aim of TÜV SÜD is to support customers with a comprehensive suite of services worldwide to increase efficiency, reduce costs and manage risk.


            .col-lg-4
                .panel-body
                img(src='/images/healthcare.png', style='width:400px;height:400px;')
